.button__add-place {
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #000;
    margin-left: auto;
    margin-right: 0;
    align-self: center;
  }
  
  @media screen and (max-width: 767px) {
    .button__add-place {
      width: 282px;
      margin: 36px auto 0;
    }
  }