@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #fff;
}

.header {
  margin: 45px 0 0 ;
  padding: 0 0 37px;  /* должно быть 41px, но тогда нижние блоки едут на 4px*/
  border-bottom: 1px solid #545454; 
}

.header__logo {
  width: 142px;
  height: 33px;
}

.profile {
  margin: 40px 0 50px;
  display: flex;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
}

.profile__info {
  padding-left: 30px;
  padding-top: 21px;
}

.profile__top-row {
  display: flex;
  align-items: baseline;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-style: normal;
  padding: 0px;
  margin: 0;
}

.button {
  cursor: pointer;
  border: none;
  transition: opacity 0.3s ease;
}
/* проверить материал 2го и 3го спринта про работу кнопок при наведении курсора*/
.button:hover {
  background: coral;
  border: coral;
}

.button__add_info {
  width: 24px;
  height: 24px;
  border-radius: 0%;
  padding: 0;
  background: url(../images/edit_button.svg) no-repeat center;
  border: 1px solid #fff;
  margin-left: 18px;
}

.profile__bio {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  margin: 8px auto 0; /* должно быть 16px, по макету но тогда нижние блоки едут, тк отсчет блока в макете с нижней черты строки без учета висящих букв (у)*/
}

.button__add_place {
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2%;
  background: url(../images/add_button.svg) no-repeat center;
  margin-left: auto;
  margin-right: 0;
  align-self: center;
}

.places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.place {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  /* изучить эти свойства:*/
}

.place__image {
  width: 282px;
  height: 282px;
  object-fit: cover;

}

.place__info {
  max-width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
  padding-left: 21px;
  padding-right: 20px;
  align-items: center;
}

.place__name {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  /* изучить как работают эти свойства*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.button__like{
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background: url(../images/like.svg);
}

.footer__tag{
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  color:#545454;
  margin: 66px auto 60px;
}